<div
  class="announcement-bar-v2 color-{{ section.settings.color_scheme }}"
  data-section-id="{{ section.id }}"
  data-section-type="announcement-bar"
>
  {%- if section.settings.show_announcement -%}
    <div class="page-width">
      <div class="announcement-bar__container">
        <!-- Social links section -->
        {%- if section.settings.show_social_icons -%}
          <div class="announcement-bar__social">
            {%- if settings.social_facebook_link != blank -%}
              <a
                href="{{ settings.social_facebook_link }}"
                class="announcement-bar__social-link"
                aria-label="Facebook"
                target="_blank"
              >
                <svg
                  class="icon icon-facebook"
                  aria-hidden="true"
                  focusable="false"
                  role="presentation"
                  xmlns="http://www.w3.org/2000/svg"
                  width="18"
                  height="18"
                  viewBox="0 0 24 24"
                >
                  <path d="M22.675 0h-21.35c-.732 0-1.325.593-1.325 1.325v21.351c0 .731.593 1.324 1.325 1.324h11.495v-9.294h-3.128v-3.622h3.128v-2.671c0-3.1 1.893-4.788 4.659-4.788 1.325 0 2.463.099 2.795.143v3.24l-1.918.001c-1.504 0-1.795.715-1.795 1.763v2.313h3.587l-.467 3.622h-3.12v9.293h6.116c.73 0 1.323-.593 1.323-1.325v-21.35c0-.732-.593-1.325-1.325-1.325z" fill="currentColor"/>
                </svg>
              </a>
            {%- endif -%}
            {%- if settings.social_instagram_link != blank -%}
              <a
                href="{{ settings.social_instagram_link }}"
                class="announcement-bar__social-link"
                aria-label="Instagram"
                target="_blank"
              >
                <svg
                  class="icon icon-instagram"
                  aria-hidden="true"
                  focusable="false"
                  role="presentation"
                  xmlns="http://www.w3.org/2000/svg"
                  width="18"
                  height="18"
                  viewBox="0 0 24 24"
                >
                  <path d="M12 2.163c3.204 0 3.584.012 4.85.07 3.252.148 4.771 1.691 4.919 4.919.058 1.265.069 1.645.069 4.849 0 3.205-.012 3.584-.069 4.849-.149 3.225-1.664 4.771-4.919 4.919-1.266.058-1.644.07-4.85.07-3.204 0-3.584-.012-4.849-.07-3.26-.149-4.771-1.699-4.919-4.92-.058-1.265-.07-1.644-.07-4.849 0-3.204.013-3.583.07-4.849.149-3.227 1.664-4.771 4.919-4.919 1.266-.057 1.645-.069 4.849-.069zm0-2.163c-3.259 0-3.667.014-4.947.072-4.358.2-6.78 2.618-6.98 6.98-.059 1.281-.073 1.689-.073 4.948 0 3.259.014 3.668.072 4.948.2 4.358 2.618 6.78 6.98 6.98 1.281.058 1.689.072 4.948.072 3.259 0 3.668-.014 4.948-.072 4.354-.2 6.782-2.618 6.979-6.98.059-1.28.073-1.689.073-4.948 0-3.259-.014-3.667-.072-4.947-.196-4.354-2.617-6.78-6.979-6.98-1.281-.059-1.69-.073-4.949-.073zm0 5.838c-3.403 0-6.162 2.759-6.162 6.162s2.759 6.163 6.162 6.163 6.162-2.759 6.162-6.163c0-3.403-2.759-6.162-6.162-6.162zm0 10.162c-2.209 0-4-1.79-4-4 0-2.209 1.791-4 4-4s4 1.791 4 4c0 2.21-1.791 4-4 4zm6.406-11.845c-.796 0-1.441.645-1.441 1.44s.645 1.44 1.441 1.44c.795 0 1.439-.645 1.439-1.44s-.644-1.44-1.439-1.44z" fill="currentColor"/>
                </svg>
              </a>
            {%- endif -%}
            {%- if settings.social_twitter_link != blank -%}
              <a
                href="{{ settings.social_twitter_link }}"
                class="announcement-bar__social-link"
                aria-label="Twitter"
                target="_blank"
              >
                <svg
                  class="icon icon-twitter"
                  aria-hidden="true"
                  focusable="false"
                  role="presentation"
                  xmlns="http://www.w3.org/2000/svg"
                  width="18"
                  height="18"
                  viewBox="0 0 24 24"
                >
                  <path d="M23.954 4.569c-.885.389-1.83.654-2.825.775 1.014-.611 1.794-1.574 2.163-2.723-.951.555-2.005.959-3.127 1.184-.896-.959-2.173-1.559-3.591-1.559-2.717 0-4.92 2.203-4.92 4.917 0 .39.045.765.127 1.124-4.09-.193-7.715-2.157-10.141-5.126-.427.722-.666 1.561-.666 2.475 0 1.71.87 3.213 2.188 4.096-.807-.026-1.566-.248-2.228-.616v.061c0 2.385 1.693 4.374 3.946 4.827-.413.111-.849.171-1.296.171-.314 0-.615-.03-.916-.086.631 1.953 2.445 3.377 4.604 3.417-1.68 1.319-3.809 2.105-6.102 2.105-.39 0-.779-.023-1.17-.067 2.189 1.394 4.768 2.209 7.557 2.209 9.054 0 14-7.503 14-14 0-.21-.005-.418-.015-.628.961-.689 1.8-1.56 2.46-2.548l-.047-.02z" fill="currentColor"/>
                </svg>
              </a>
            {%- endif -%}
            {%- if settings.social_pinterest_link != blank -%}
              <a
                href="{{ settings.social_pinterest_link }}"
                class="announcement-bar__social-link"
                aria-label="Pinterest"
                target="_blank"
              >
                <svg
                  class="icon icon-pinterest"
                  aria-hidden="true"
                  focusable="false"
                  role="presentation"
                  xmlns="http://www.w3.org/2000/svg"
                  width="18"
                  height="18"
                  viewBox="0 0 24 24"
                >
                  <path d="M12 0c-6.627 0-12 5.372-12 12 0 5.084 3.163 9.426 7.627 11.174-.105-.949-.2-2.405.042-3.441.218-.937 1.407-5.965 1.407-5.965s-.359-.719-.359-1.782c0-1.668.967-2.914 2.171-2.914 1.023 0 1.518.769 1.518 1.69 0 1.029-.655 2.568-.994 3.995-.283 1.194.599 2.169 1.777 2.169 2.133 0 3.772-2.249 3.772-5.495 0-2.873-2.064-4.882-5.012-4.882-3.414 0-5.418 2.561-5.418 5.207 0 1.031.397 2.138.893 2.738.098.119.112.224.083.345l-.333 1.36c-.053.22-.174.267-.402.161-1.499-.698-2.436-2.889-2.436-4.649 0-3.785 2.75-7.262 7.929-7.262 4.163 0 7.398 2.967 7.398 6.931 0 4.136-2.607 7.464-6.227 7.464-1.216 0-2.359-.631-2.75-1.378l-.748 2.853c-.271 1.043-1.002 2.35-1.492 3.146 1.124.347 2.317.535 3.554.535 6.627 0 12-5.373 12-12 0-6.628-5.373-12-12-12z" fill="currentColor"/>
                </svg>
              </a>
            {%- endif -%}
            {%- if settings.social_tiktok_link != blank -%}
              <a
                href="{{ settings.social_tiktok_link }}"
                class="announcement-bar__social-link"
                aria-label="TikTok"
                target="_blank"
              >
                <svg
                  class="icon icon-tiktok"
                  aria-hidden="true"
                  focusable="false"
                  role="presentation"
                  xmlns="http://www.w3.org/2000/svg"
                  width="18"
                  height="18"
                  viewBox="0 0 24 24"
                >
                  <path d="M12.53.02C13.84 0 15.14.01 16.44 0c.08 1.53.63 3.09 1.75 4.17 1.12 1.11 2.7 1.62 4.24 1.79v4.03c-1.44-.05-2.89-.35-4.2-.97-.57-.26-1.1-.59-1.62-.93-.01 2.92.01 5.84-.02 8.75-.08 1.4-.54 2.79-1.35 3.94-1.31 1.92-3.58 3.17-5.91 3.21-1.43.08-2.86-.31-4.08-1.03-2.02-1.19-3.44-3.37-3.65-5.71-.02-.5-.03-1-.01-1.49.18-1.9 1.12-3.72 2.58-4.96 1.66-1.44 3.98-2.13 6.15-1.72.02 1.48-.04 2.96-.04 4.44-.99-.32-2.15-.23-3.02.37-.63.41-1.11 1.04-1.36 1.75-.21.51-.15 1.07-.14 1.61.24 1.64 1.82 3.02 3.5 2.87 1.12-.01 2.19-.66 2.77-1.61.19-.33.4-.67.41-1.06.1-1.79.06-3.57.07-5.36.01-4.03-.01-8.05.02-12.07z" fill="currentColor"/>
                </svg>
              </a>
            {%- endif -%}
            {%- if settings.social_linkedin_link != blank -%}
              <a
                href="{{ settings.social_linkedin_link }}"
                class="announcement-bar__social-link"
                aria-label="LinkedIn"
                target="_blank"
              >
                <svg
                  class="icon icon-linkedin"
                  aria-hidden="true"
                  focusable="false"
                  role="presentation"
                  xmlns="http://www.w3.org/2000/svg"
                  width="18"
                  height="18"
                  viewBox="0 0 24 24"
                >
                  <path d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-11 19h-3v-11h3v11zm-1.5-12.268c-.966 0-1.75-.79-1.75-1.764s.784-1.764 1.75-1.764 1.75.79 1.75 1.764-.783 1.764-1.75 1.764zm13.5 12.268h-3v-5.604c0-3.368-4-3.113-4 0v5.604h-3v-11h3v1.765c1.396-2.586 7-2.777 7 2.476v6.759z" fill="currentColor"/>
                </svg>
              </a>
            {%- endif -%}
          </div>
        {%- endif -%}

        <!-- Announcement message -->
        <div class="announcement-bar__message">
          {%- if section.settings.link != blank -%}
            <a href="{{ section.settings.link }}" class="announcement-bar__link">
          {%- endif -%}

          <div class="announcement-slider">
            {%- for block in section.blocks -%}
              {%- if block.settings.text != blank -%}
                <div class="announcement-slide" {{ block.shopify_attributes }}>
                  {{ block.settings.text }}
                </div>
              {%- endif -%}
            {%- endfor -%}
          </div>

          {%- if section.settings.link != blank -%}
            </a>
          {%- endif -%}
        </div>

        <!-- Country/language selector -->
        {% comment %} {%- if section.settings.show_country_selector and localization.available_countries.size > 1 -%} {% endcomment %}
        <div class="announcement-bar__localization">
          {%- form 'localization', id: 'AnnouncementCountryForm', class: 'localization-form' -%}
            <div class="localization-form__select">
              <h2 class="visually-hidden" id="AnnouncementCountryLabel">{{ 'general.country.label' }}</h2>
              <select class="localization-selector link" name="country_code" aria-labelledby="AnnouncementCountryLabel">
                {%- for country in localization.available_countries -%}
                  <option
                    value="{{ country.iso_code }}"
                    {%- if country.iso_code == localization.country.iso_code %}
                      selected
                    {% endif %}
                  >
                    {{ country.name }} ({{ country.currency.iso_code }}
                    {{ country.currency.symbol }})
                  </option>
                {%- endfor -%}
              </select> 
              <svg aria-hidden="true" focusable="false" class="icon icon-caret" viewBox="0 0 10 6">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor">
              </svg>
            </div>
            <button class="button button--tertiary visually-hidden" aria-label="{{ 'general.country.update'}}">
              {{ 'general.country.update' }}
            </button>
          {%- endform -%}
        </div>
        {% comment %} {%- endif -%} {% endcomment %}
      </div>
    </div>
  {%- endif -%}
</div>

<style>
  .announcement-bar-v2 {
    background-color: {{ section.settings.background_color }};
    color: {{ section.settings.text_color }};
    text-align: center;
    padding: {{ section.settings.padding_top }}px {{ section.settings.padding_side }}px {{ section.settings.padding_bottom }}px;
    font-size: {{ section.settings.font_size }}px;
    font-weight: {{ section.settings.font_weight }};
  }

  .announcement-bar__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .announcement-bar__message {
    position: relative;
    overflow: hidden;
    flex: 1;
  }

  .announcement-bar__link {
    display: block;
    color: {{ section.settings.text_color }};
    text-decoration: none;
  }

  .announcement-slider {
    display: flex;
    transition: transform 0.5s ease;
  }

  .announcement-slide {
    flex: 0 0 100%;
    padding: 0 10px;
  }

  .announcement-bar__social {
    display: flex;
    gap: 15px;
    margin-right: 15px;
  }

  .announcement-bar__social-link {
    color: {{ section.settings.text_color }};
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.2s ease;
  }

  .announcement-bar__social-link:hover {
    opacity: 0.8;
  }

  .announcement-bar__social-link .icon {
    width: 18px;
    height: 18px;
    fill: currentColor;
  }

  .announcement-bar__localization {
    margin-left: 15px;
  }

  .localization-form {
    display: flex;
    align-items: center;
  }

  .localization-form__select {
    position: relative;
    margin: 0px !important;
  }

  .localization-selector {
    appearance: none;
    background-color: transparent;
    border: none;
    color: {{ section.settings.text_color }};
    cursor: pointer;
    font-size: {{ section.settings.font_size }}px;
    padding-right: 15px;
  }

  .icon-caret {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    height: 6px;
    pointer-events: none;
  }

  .button--tertiary {
    background: transparent;
    border: none;
    color: {{ section.settings.text_color }};
    padding: 3px 8px;
    font-size: 12px;
    cursor: pointer;
  }

  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }

  @media screen and (max-width: 989px) {
    .announcement-bar__container {
      flex-wrap: wrap;
      justify-content: center;
    }

    .announcement-bar__social {
      order: 1;
      margin-right: 0;
      margin-bottom: 5px;
      /* width: 100%; */
      justify-content: center;
    }

    .announcement-bar__message {
      order: 2;
      width: 100%;
      margin: 5px 0;
    }

    .announcement-bar__localization {
      order: 3;
      margin-left: 0;
      margin-top: 5px;
      /* width: 100%; */
      display: flex;
      justify-content: center;
    }
  }

  @media screen and (max-width: 749px) {
    .announcement-bar-v2 {
      font-size: {{ section.settings.font_size_mobile }}px;
      padding: {{ section.settings.padding_top_mobile }}px {{ section.settings.padding_side_mobile }}px {{ section.settings.padding_bottom_mobile }}px;
    }

    .localization-selector {
      font-size: {{ section.settings.font_size_mobile }}px;
    }

    .announcement-bar__social {
      gap: 10px;
    }

    .announcement-bar__social-link .icon {
      width: 16px;
      height: 16px;
    }
  }
</style>

{% if section.settings.enable_slider and section.blocks.size > 1 %}
  <script>
  document.addEventListener('DOMContentLoaded', function() {
    const slider = document.querySelector('.announcement-slider');
    const slides = document.querySelectorAll('.announcement-slide');
    let currentSlide = 0;
    
    function nextSlide() {
      currentSlide = (currentSlide + 1) % slides.length;
      slider.style.transform = `translateX(-${currentSlide * 100}%)`;
    }
    
    setInterval(nextSlide, {{ section.settings.slider_speed | times: 1000 }});
    
    // Auto-submit country selector on change
    const countrySelector = document.querySelector('#AnnouncementCountryForm .localization-selector');
    if (countrySelector) {
      countrySelector.addEventListener('change', function() {
        this.form.submit();
      });
    }
  });
  </script>
{% endif %}

{% schema %}
{
  "name": "Announcement Bar V2",
  "class": "announcement-bar-v2",
  "enabled_on": {
    "groups": ["header"]
  },
  "settings": [
    {
      "type": "checkbox",
      "id": "show_announcement",
      "label": "Show announcement",
      "default": true
    },
    {
      "type": "url",
      "id": "link",
      "label": "Announcement link"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background color",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text color",
      "default": "#ffffff"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "label": "Color scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "Accent 1"
        },
        {
          "value": "accent-2",
          "label": "Accent 2"
        },
        {
          "value": "background-1",
          "label": "Background 1"
        },
        {
          "value": "background-2",
          "label": "Background 2"
        },
        {
          "value": "inverse",
          "label": "Inverse"
        }
      ],
      "default": "accent-1"
    },
    {
      "type": "header",
      "content": "Social Media"
    },
    {
      "type": "checkbox",
      "id": "show_social_icons",
      "label": "Show social media icons",
      "default": true,
      "info": "Social media accounts must be set in theme settings"
    },
    {
      "type": "header",
      "content": "Language & Country"
    },
    {
      "type": "checkbox",
      "id": "show_country_selector",
      "label": "Show country selector",
      "default": true,
      "info": "To add languages, go to your store admin: Online Store > Languages"
    },
    {
      "type": "header",
      "content": "Typography"
    },
    {
      "type": "range",
      "id": "font_size",
      "label": "Font size",
      "min": 12,
      "max": 24,
      "step": 1,
      "default": 14,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "font_size_mobile",
      "label": "Font size (mobile)",
      "min": 10,
      "max": 20,
      "step": 1,
      "default": 12,
      "unit": "px"
    },
    {
      "type": "select",
      "id": "font_weight",
      "label": "Font weight",
      "options": [
        {
          "value": "400",
          "label": "Regular"
        },
        {
          "value": "500",
          "label": "Medium"
        },
        {
          "value": "600",
          "label": "Semibold"
        },
        {
          "value": "700",
          "label": "Bold"
        }
      ],
      "default": "400"
    },
    {
      "type": "header",
      "content": "Spacing"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Top padding",
      "min": 0,
      "max": 30,
      "step": 1,
      "default": 10,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Bottom padding",
      "min": 0,
      "max": 30,
      "step": 1,
      "default": 10,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "padding_side",
      "label": "Side padding",
      "min": 0,
      "max": 50,
      "step": 5,
      "default": 20,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "padding_top_mobile",
      "label": "Top padding (mobile)",
      "min": 0,
      "max": 30,
      "step": 1,
      "default": 8,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "padding_bottom_mobile",
      "label": "Bottom padding (mobile)",
      "min": 0,
      "max": 30,
      "step": 1,
      "default": 8,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "padding_side_mobile",
      "label": "Side padding (mobile)",
      "min": 0,
      "max": 30,
      "step": 5,
      "default": 10,
      "unit": "px"
    },
    {
      "type": "header",
      "content": "Slider Settings"
    },
    {
      "type": "checkbox",
      "id": "enable_slider",
      "label": "Enable slider",
      "default": true,
      "info": "Automatically rotate through multiple announcements"
    },
    {
      "type": "range",
      "id": "slider_speed",
      "label": "Change slides every",
      "min": 3,
      "max": 10,
      "step": 1,
      "default": 5,
      "unit": "s"
    }
  ],
  "blocks": [
    {
      "type": "announcement",
      "name": "Announcement",
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Welcome to our store</p>"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Announcement Bar V2",
      "blocks": [
        {
          "type": "announcement",
          "settings": {
            "text": "<p>Free shipping on all orders over $50</p>"
          }
        },
        {
          "type": "announcement",
          "settings": {
            "text": "<p>Use code WELCOME10 for 10% off your first order</p>"
          }
        }
      ]
    }
  ]
}
{% endschema %}
